# Node
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Capacitor / Ionic
.idea/
.DS_Store
.vscode/
www/
coverage/

# Android build
android/.gradle/
android/build/
android/app/build/
android/captures/
android/

# Android local configuration
android/local.properties

# Keystore (per firmare APK)
*.keystore
*.jks

# macOS/Linux temp
*.swp
*.swo
*.tmp
*.lock

# Windows temp
Thumbs.db
ehthumbs.db
Desktop.ini

# Env files (per API keys o config segrete)
.env
.env.*


#custom

recensioni
